.about-component{
    max-width: 1200px;
    margin: 2rem auto;

    .title{
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    .part-one{
        
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2rem;
        padding-top: 3rem;
        
    }

    .img-container{
        width: 400px;
        height: 400px;

        img{
            width: 100%;
            border-radius: .5rem;
        }
    }

    .part-text{
        margin-top: 5rem;
    }

    .part-two{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2rem;
        
    }
}