.product-list{
    max-width: 1200px;
    margin: 0 auto;
    .product-display{
        padding-block: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        
    }
}