a{
    text-decoration: none;
}

.product-card{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    padding: 1rem;
    gap: 1rem;
    border-radius: .5rem;
    justify-content: space-between;
    
    
    .product-img-container{
        width: 300px;
        height: 200px;
        display: flex;
        margin: 0 auto;
        
        img{
            width: 100%;
            object-fit: cover;
            
        }
    }
    .product-info{
        
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

   .product-title{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    
    
   }

   .product-price{
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
   }

   .atc-btn{
    margin-top: 1rem;
    width: 100%;
    border: none;
    padding: .4rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(36, 149, 248);
    color: white;
    cursor: pointer;
    
   }

   .atc-btn:hover{
    background-color: hsl(208, 94%, 50%);
   }

  
}