.checkout-container{
    max-width: 1200px;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;

    .total-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;

        p{
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
    .pur-btn{
        
        
        border: none;
        padding: .4rem 1rem;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: rgb(36, 149, 248);
        color: white;
        cursor: pointer;
    }

    .pur-btn:hover{
        background-color: hsl(208, 94%, 50%);
    }

    .clear-btn{
        border: none;
        padding: .4rem 1rem;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: firebrick;
        color: white;
        cursor: pointer;
        margin-left: 1rem;
    }
    .clear-btn:hover{
        background-color: hsl(0, 68%, 38%);
    }
}