.navbar-component{
    .container{
        background-color: rgb(36, 149, 248);
      }
      
      .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        max-width: 1200px;
        margin-inline: auto;
      
      }
      
      .navbar-links{
        display: flex;
      
        list-style: none;
        gap: 1rem;
        
        a{
          text-decoration: none;
          color: white;
        }
        .active{
          color: orange;
        }

        button{
          border: none;
          color: white;
          background-color: transparent;
          font-size: 1rem;
          cursor: pointer;
        }
      }
}